:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-style: none;
    gap: 1rem;
    text-align: center;
    font-weight: 700;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: x-large;
  }
  main {
    .characters {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      .character {
        color: white;
        text-decoration-line: none;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          text-align: center;
          font-weight: 600;
        }
        .image {
          width: 10rem;
          border-radius: 1rem;
        }
      }
      .character:hover {
        .image {
          opacity: 0.7;
        }
        .name {
          color: rgba(156, 130, 130, 0.87);
        }
      }
    }
    .character-info {
      text-align: center;
      margin-top: 2rem;
      .image {
        width: 15rem;
        border-radius: 1rem;
      }
      .name {
        font-weight: 700;
      }
    }
    .search {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .form {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .input {
          width: 100%;
          border-radius: 0.1rem;
          border: none;
        }
        .submit-btn {
          width: 5rem;
          border-radius: 0.1rem;
          border: none;
        }
        .submit-btn:hover {
          background-color: white;
          color: gray;
        }
      }
      .results {
        .characters {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          justify-content: center;
          align-content: center;
          .character {
            width: fit-content;
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: white;
            text-decoration-line: none;
            margin: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .name {
              text-align: center;
              font-weight: 600;
            }
            .image {
              width: 10rem;
              border-radius: 1rem;
            }
          }
        }
        .character:hover {
          .image {
            opacity: 0.7;
          }
          .name {
            color: rgba(156, 130, 130, 0.87);
          }
        }
        .spinner {
          margin-top: 10rem;
          border: 4px solid rgba(0, 0, 0, 0.1);
          border-left-color: #09f;
          border-radius: 50%;
          width: 48px;
          height: 48px;
          animation: spin 1s linear infinite;
          display: inline-block;
          margin-left: 10px;
        }

        .search-for-results {
          margin-top: 10rem;
        }

        .no-results {
          margin-top: 10rem;
        }

        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

@media (min-width: 480px) {
  .app {
    main {
      .characters {
        grid-template-columns: repeat(2, 1fr);
      }
      .search {
        .form {
          flex-direction: row;
          .input {
            height: 1.5rem;
          }
          .submit-btn {
            height: 1.5rem;
          }
        }
        .results {
          .characters {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .app {
    main {
      .characters {
        grid-template-columns: repeat(3, 1fr);
      }
      .search {
        .form {
          flex-direction: row;
        }
        .results {
          .characters {
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .app {
    main {
      .characters {
        grid-template-columns: repeat(4, 1fr);
      }
      .search {
        .form {
          flex-direction: row;
        }
        .results {
          .characters {
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }
  }
}
